html{
    background-color: rgb(255, 255, 255);
}

.nav {
    background-color: rgb(109, 184, 241); /* Background color of the navigation bar */
    padding: 10px; /* Adjust the padding as needed */
    text-align:left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2; /* Ensure the navigation bar is on top of the background */
}

.nav a:hover {
    background-color: aqua; /* Background color on hover */
}

#start-button {
    position: 70%;
}

h1 {
    position: absolute;
    text-align: center;
    top: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: inline-block;
    left: 50%; /* Änderung: Setze den linken Rand auf 50% */
    transform: translateX(-50%); /* Änderung: Zentriere horizontal */
    margin: 0;
    width: 40%;
    padding: 3px;
    box-sizing: border-box
    /*gestaltung der Überschrift*/
}

.nav a {


    color: white; /* Text color of the links */
    text-decoration: none; /* Remove underline from links */
    padding: 10px; /* Adjust the padding as needed */
}

footer {
    background-color: rgb(109, 184, 241);
    color: white;
    text-align:left;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    top: 97%;
    padding: 20px;
    position: relative;
    z-index: 1 /* Ensure the footer is on top of the background */
    
}